.contact {
    display: flex;
    background-color: #f5e2d8;
    
    .contact__container {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .contact__about {
        @extend .contact__container;
        flex-direction: column;
        
        .contact__title {
            margin-top: 60px;
            margin-bottom: 25px;
        }
        
        .contact__paragraph {
            padding: 10px 100px;
            margin-bottom: 25px;
            font-size: 20px;
        }
        
        .contact__button {
            margin: 25px;
            margin-bottom: 60px;
            font-weight: 300;
            font-size: 20px;
            color: #000000;
            padding: 20px;
            background-color: #f8d5c2;
            border-radius: 8px;
        }
        
        .contact__button:hover {
            background-color: #626164;
            color: #FFFFFF;
            transition: all .5s;
        }
    }
}

@media (max-width: 600px) {
    .contact {
        display: flex;
        background-color: #ffcdb2;
    }
    
    .contact__container {
        display: flex;
        justify-content: center;
        align-items: center;

        .contact__about {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            .contact__title {
                margin-top: 60px;
                margin-bottom: 25px;
                font-size: 20px;
            }
            
            .contact__paragraph {
                padding: 15px 60px;
                margin-bottom: 25px;
                font-size: 10px;
            }
            
            .contact__button {
                padding: 15px;
                font-size: 10px;
                margin-bottom: 50px;
            }
        }
    }          
}