/* Importación de fuente desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    list-style: none;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.header {
    background-color: #ffffff;
}

.header__logo {
    max-width: 100%;
    width: 90px;
}

.section__container {
    background-color: #96c8d4;
    padding: 10px 40px;
}

.section__link {
    font-size: 16px;
    font-weight: 400;
    color: #2f2e31;
}

@media (max-width: 600px) {
    .section__link {
        font-size: 12px;
    }
}

.founder {
    background-color: #FFFFFF;
    color: #6d6875;
}

.founder__generalTitle {
    text-align: center;
    margin: 60px 0px;
    font-size: 32px;
}

.founder__image {
    height: 100%;
    border-radius: 1%;
    max-height: 500px;
    object-fit: cover;
}

.founder__card {
    margin: 0px 250px;
    margin-bottom: 100px;
}

@media (max-width: 600px) {

    .founder__generalTitle {
        text-align: center;
        margin: 60px 0px;
        font-size: 20px;
    }
    
    .founder__image {
        width: 100%;
        border-radius: 1%;
        max-width: 900px;
        object-fit: cover;
    }

    .founder__card {
        margin: 0px;
        margin-bottom: 100px;
    }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #3d3942;
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__tab {
    display: flex ;
    justify-content: center;
}

.footer__tab--socialNetwork {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 30px;
    font-size: 24px;
}

.iconify {
    color: #FFFFFF;
    transition: all ease-in-out 0.15s;
}

.iconify:hover {
    color: #1fb6a9;
}

.footer__copyright {
    font-weight: 300;
}

.footer__list {
    display: flex;
    gap: 60px;
    padding: 0px;
}

.footer__link {
    color: #FFFFFF
}

.footer__link:hover {
    color: #1fb6a9;
    text-decoration: line-through;
    transition: all .5s;
}

.footer__link:active {
    color: #85d8d1;
    text-decoration: line-through;
    transition: all .5s;
}

@media (max-width: 600px) {    
    .footer__tab--socialNetwork {
        font-size: 18px;
    }

    .footer__copyright {
        font-size: 10px;
    }
    
    .footer__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 10px;
        gap: 10px;
        padding: 0px;
    }

    .footer__nav {
        width: 100%;
    }

    .footer__link {
        font-size: 10px;
    }
}



