/* Importación de fuente desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    list-style: none;
    font-family: 'Karla', sans-serif;
    text-decoration: none;
}


.header__logo {
    max-width: 100%;
    width: 180px; }
  
  .header .nav-link {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px; }
  
  .navbar {
    transition: all 0.2s ease; }
  
  .navbar-dark .navbar-nav .nav-link {
    color: #FFFFFF; }
  
  .navbar-dark .navbar-nav .nav-link.active {
    color: #8b7083; }
  
  .navbar-dark .navbar-nav .nav-link:active {
    color: #8b7083; }
  
  .banner {
    padding-top: 80px;
    padding-bottom: 80px; }
  

.section__container {
    background-color: #96c8d4;
    padding: 10px 40px;
}

.section__link {
    font-size: 16px;
    font-weight: 300;
    color: #2f2e31;
}

@media (max-width: 600px) {
    .section__link {
        font-size: 12px;
    }
}

.main {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 600px) {
    .main {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.categorie {
    display: flex;
    flex-direction: column;
}

.categorie__container {
    margin: 40px;
    border-color: #2f2e31;
    border-style: groove;
}

.categorie__title {
    margin: 30px 40px;
    font-size: 20px;
    font-weight: 500;
}

.categorie__list {
    margin: 20px 0px;
    font-weight: 400;
}

.categorie__item {
    margin: 20px 0px;
}

.categorie__link {
    color: #2f2e31;
}

@media (max-width: 600px) {
    .categorie__container {
        margin: 40px;
        border-color: #2f2e31;
        border-style: groove;
    }

    .categorie__title {
        margin: 30px 40px;

        font-size: 15px;
    }

    .categorie__list {
        margin: 20px 0px;
    }
    
    .categorie__item {
        margin: 20px 0px;
    }
    
    .categorie__link {
        font-size: 10px;
    }
}

.product {
    display: grid;
    margin-bottom: 60px;
}

.product__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 20px;
}

.product__image {
    width: 100%;
    border-radius: 5%;
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
    margin-top: 40px;
    box-shadow: 0.5px 1px 6px 0px #e2e1e1; 
    padding: 10px;
}

.product__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 40px 0px 0px;
}

.product__title {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-top: 25px;
}

.product__paragraph {
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__container--price {
    display: flex;
    column-gap: 20px;
}  

.product__paragraph--strikethrough {
    color:#c0b5c0;
    text-decoration: line-through;
} 

@media (max-width: 600px) {
    .product {
        margin-bottom: 40px;
    }
    
    .product__container {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        grid-column-gap: 20px;
    }
    
    .product__image {
        max-width: 120px;
        max-height: 120px;
        margin-top: 20px;
    }
    
    .product__item {
        padding: 0px;
    }
    
    .product__title {
        font-size: 12px;
    }
    
    .product__paragraph {
        font-size: 12px;
    }   
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #110f10; }
    .footer .footer__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .footer .footer__container .footer__tab--socialNetwork {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
        margin: 10px;
        font-size: 28px; }
        .footer .footer__container .footer__tab--socialNetwork .iconify {
          color: #FFFFFF;
          transition: all ease-in-out 0.15s;
          font-size: 24px; }
        .footer .footer__container .footer__tab--socialNetwork .iconify:hover {
          color: #a28d9c; }
      .footer .footer__container .footer__tab {
        display: flex;
        justify-content: center; }
      .footer .footer__container .footer__copyright {
        font-weight: 300;
        text-align: center; }
    .footer a {
      color: #FFFFFF;
      margin: 10px;
      font-weight: 500; }
  
  .footer__link:hover {
    color: #a28d9c;
    transition: all .5s; }
  
  .footer__link:active {
    color: #a28d9c;
    text-decoration: line-through;
    transition: all .5s; }
  
  @media (max-width: 767.98px) {
    .footer__tab--socialNetwork {
      font-size: 22px; }
    .footer__link {
      font-size: 16px; }
    .footer__copyright {
      font-size: 14px; } }
  
  @media (max-width: 575.98px) {
    .footer__tab--socialNetwork {
      font-size: 18px; }
    .footer__link {
      font-size: 14px; }
    .footer__copyright {
      font-size: 12px; } }
  


